.card__form {
    background-color: var(--white);
    width: 85%;
    padding: 30px 10px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-radius: 15px;
}

.card__img{
    width: 200px;
}

.card__titulo {
    color: var(--blue);
    font-weight: 700;
}

.card__p {
    color: var(--gray);
    /* margin: 15px; */
    text-align: center;
    width: 300px;
}

.card__btn {
    /* margin-bottom: 2px; */
    background-color: var(--orange);
    color: var(--white);
    border: none;
    padding: 5px 10px;
    font-size: var(--font-h1);
    font-weight: 600;
}